// Colors
$white:                               #ffffff;
$gray-600:                            #89829D;
$gray-800:                            #1D2031;
$gray-900:                            #1D2031;

$red:                                   #C71111;
$yellow:                                #F2B222;
$green:                                 #3BE291;

$primary:                               #339989;
$secondary:                             $gray-600;

// Body 
$body-bg:                               #339989;
$body-color:                            #2b2c28;
// $hr-border-color:                       $studio-dolphin;
// $hr-margin-y:                           30px;

// Typography
//$font-family-sans-serif:                'Open Sans Webfont', sans-serif;
// $headings-color:                        $white;
// $h1-font-size:                          1.5rem;
// $h2-font-size:                          1.15rem;

// $headings-margin-bottom:                1.5rem;
// $headings-font-weight:                  700;

// Links
// $link-color:                              $studio-dolphin;
// $link-hover-color:                        $primary;

// $border-color:                          $studio-dolphin;


// Buttons
$btn-box-shadow:                        none;
$btn-focus-box-shadow:                  none;

// Cards
// $card-height:                           110px;
$card-spacer-y:                         .5rem;
$card-spacer-x:                         1rem;

//Tables
$table-bg:                              $white;                           