// Colors
$white:                               #ffffff;
$gray-900:                            #131515;

// $red:                                   $studio-thunderbird;
// $yellow:                                $studio-buttercup;
// $yellow-100:                            $studio-creme-brule;
// $green:                                 $studio-silver-tree;
// $teal:                                  $studio-turquoise;

// $enable-shadows:                        true;
// $enable-responsive-font-sizes:          true;

$primary:                               #339989;
// $secondary:                             $studio-waterloo;

// Body 
$body-bg:                               #339989;
$body-color:                            #2b2c28;

// Typography
$headings-margin-bottom:                1.5rem;
$headings-font-weight:                  700;

// Buttons
// $btn-border-width:                      1px;
// $btn-font-weight:                       600;
// $input-color:                           $gray-900;
// $input-font-weight:                     500;
// $btn-active-box-shadow:                 none;
// $btn-box-shadow:                        none;
// $btn-focus-box-shadow:                  none;


//$btn-padding-x:                         30px;                         
//$btn-padding-y-lg:                      15px;
//$btn-padding-x-lg:                      30px;

// Modals
// $modal-xl:                              90%;
// $modal-lg:                              60%;
// $modal-md:                              50%;


// Form

// Tables
// $table-border-color:                   #d8b4a0;
// $table-head-bg:                        #dbd3d8;
// $table-head-color:                     $white;

// Modals
// $modal-content-bg:                      $studio-charade;
// $modal-header-border-color:             $studio-dolphin;
// $modal-footer-border-color:             $studio-dolphin;
// $modal-content-color:                   $gray-200;

// Tabs
$nav-tabs-border-color:                 #4a4e69;
// $nav-pills-border-radius:               50px;
$nav-tabs-link-active-color:            $white;
$nav-tabs-link-active-bg:               $primary;