// Bootstrap Overwrite
@import "_variables.scss";

// Bootstrap Sass Import
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue-3/dist/bootstrap-vue-3.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
