* {
  box-sizing: border-box;
}

body {
  margin:  2rem 1rem ;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background: #08253f;
  color: #111827;
  border-radius: 30px;
}

body.app-wait-cursor,
body.app-wait-cursor * {
  cursor: wait !important;
}